body{
    height:100vh;
    background:linear-gradient(220deg,hsla(248, 55%, 55%, 0.8),hsla(40, 79%, 54%, 0.8));
}
h1{
    font-size: 32px;
    font-weight: 500;
    color: #250d0a;
    text-align: center;
    margin-top:3vh;
    margin-bottom:2vh;
}
#question_container{
   width:80vw;
   margin:2vh auto;
   background-color:rgb(143, 201, 225);
   box-shadow:5px 5px 15px rgba(0, 0, 0, 0.3);
   border:1.5px solid black;
   border-radius:2px;
}
#challenge_taker{
    text-align:center;
    min-width:50px;
    width:15vw;
    max-width:100px;
    margin:auto;
    background:linear-gradient(140deg,rgba(244, 67, 67, 0.7),rgb(37, 160, 221,0.7));
    border-radius:10px;
    color:hsl(0,0,12%);
}
#challenge_taker:hover{
    background:hsl(0,0,12%) !important;
}
#question,#optionA,#optionB,#optionC,#optionD{
    width:100%;
    height:20px;
    font-size:1em;
    text-indent:2em;
}
#correct{
    width:80%;
    height:20px;
    background-color:rgb(109, 167, 109,0.9);
}
#select_first,#mistake{
    width:80%;
    height:20px;
    background-color:hsl(0,0,20%);
    color:rgba(167, 50, 50,0.75);
}
input{
    width:20% !important;
}
label{
    position:relative;
    top:-4px;
}
#confirm{
    display:block;
    margin:auto;
    border-radius:5px;
}
#next{
    width:20vw;
    height:5vh;
    background-color:rgb(222, 114, 56);
    border:2px solid black;
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    float:right;
    margin-right:10vw;
}
#next:hover{
    background-color:hsl(0,0,12%) !important;
}